body {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.navbar-brand img {
    height: 50px;
}

.slides {
    scroll-snap-align: start;
}

.home-banner {
    background-image: url("images/main-banner.jpeg");
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
}
/* 
#video-production-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
} */