body {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

/* navbar logo size seting */
.navbar-brand img {
    height: 50px;
}

.slides {
    scroll-snap-align: start;
}

.banner-content {
    background-image: url("../images/main-banner.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Set banner text position */
.banner-content div {
    bottom: 15%;
}

/* 
#video-production-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
} */