body {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

/* navbar logo size seting */
.navbar-brand img {
    height: 50px;
}

.slides {
    scroll-snap-align: start;
}

.banner-content {
    background-image: url("../images/main-banner.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Set homepage banner text position */
.banner-content div {
    bottom: 15%;
}

/* Set homepage video description position */
.video-description {
    bottom: 20%;
}

/* Set homepage video link position */
.watch-more-button {
    bottom: 10%;
}